.accordions {
  @include mq(tablet) {
    padding: vw(100px) 0 vw(140px);
  }

  &.accordions--dark {
    background-color: $primary;
    color: $c-white;

    .section-title {
      color: $c-white;
    }
  }

  &.accordions--light {
    background-color: $background_color;
    color: $primary;
  }

  .section-title {
    margin-bottom: 63px;

    @include mq(tablet) {
      margin-bottom: vw(87px);
    }
  }
}

.accordion {
  transition: all .5s ease-in-out;

  &.hover,
  &.active {
    @include when-inside('.accordions--light') {
      background-color: $c-blue;
    }

    .accordion-header {
      border-color: $primary;

      &::before,
      &::after {
        background-color: $primary;
      }

      @include when-inside('.accordions--light') {
        border-color: $c-gold;

        &::before,
        &::after {
          background-color: $c-gold;
        }
      }
    }

    .accordion-title,
    .accordion-subtitle {
      color: $primary;

      @include when-inside('.accordions--light') {
        color: $c-gold;
      }
    }
  }

  &-header {
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid $c-white;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include mq(tablet) {
      padding: vw(14px) 0 vw(23px);
    }

    @include when-inside('.accordions--light') {
      border-color: $primary;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      width: 24px;
      height: 1px;
      background-color: $c-white;
      transform: translateY(-50%);
      transition: all .3s ease-in-out;

      @include mq(tablet) {
        width: vw(38px);
        height: 2px;
      }

      @include when-inside('.accordions--light') {
        background-color: $primary;
      }
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);

      @include when-inside('.active') {
        transform: translateY(-50%);
      }
    }

  }

  &-title {
    @include typography(24px, 29.19px, 29.26px, 35.58px, 300, $f-secondary, $c-white);
    transition: color .3s ease-in-out;

    @include mq(desktop-wide) {
      @include typography(24px, 40px, 29.26px, 48.76px, 300, $f-secondary, $c-white);
    }

    @include when-inside('.accordions--light') {
      color: $primary;
    }
  }

  &-subtitle {
    display: none;
    @include typography(20px, 14.59px, 35px, 25.54px, 400, $f-text, $c-white);
    transition: color .3s ease-in-out;

    @include mq(tablet) {
      display: block;
    }

    @include mq(desktop-wide) {
      font-size: 20px;
      line-height: 35px;
    }

    @include when-inside('.accordions--light') {
      color: $primary;
    }
  }

  &-content {
    display: none;
    padding: 40px 0;

    @include mq(tablet) {
      padding: vw(42px) 0 vw(60px);

      @include when-inside('.accordions--light') {
        padding: vw(60px) 0;
      }
    }

    &__inner {

      @include mq(tablet) {
        display: flex;
      }

      @include when-inside('.accordions--light') {
        margin-bottom: 30px;
      }
    }

    &__image {
      margin-bottom: 30px;

      @include mq(tablet) {
        margin-right: 40px;
        margin-bottom: 0;
        flex: 0 0 155px;

        @include when-inside('.accordions--light') {
          flex: 0 0 120px;
        }
      }
    }

    &__text {
      flex-grow: 1;

      h5 {
        @include when-inside('.accordions--light') {
          @include typography(20px, 18px, 34px, 33px, 600, $f-secondary, $c-gold);

          @include mq(tablet) {
            margin-bottom: vw(11px);
          }
        }
      }

      p {
        font: 400 20px/34px $f-text;

        @include when-inside('.accordions--light') {
          color: $c-white;
        }
      }

      @include mq(tablet) {
        max-width: 830px;
      }

    }

  }
}