.home-banner {
  display: flex;

  @include mq(tablet, max) {
    padding: 93px 0 0 !important;
    flex-direction: column-reverse;
  }

  @include mq(tablet) {
    padding: 0 60px !important;
    overflow: hidden;
    align-items: center;
  }
  @include mq(desktop-wide) {
    max-height: 100vh;
  }

  &__slider {
    display: flex;

    img {
      display: block;
      width: 100%;
    }

    .slick-slide {
      line-height: 0;
      border: none;
    }
  }

  &__content {
    margin-bottom: 78px;
    padding: 0 15px;

    @include mq(tablet) {
      margin-bottom: 0;
      margin-left: vw(60px, $viewport-lg);
      padding: 0;
      max-width: vw(620px);
    }
    @include mq(desktop-wide) {
      margin-left: vw(115px);
    }
    em {
      font-size: 40px;
      line-height: 48px;
      @include mq(tablet) {
        font-weight: 600;
        font-size: 25.54px;
        line-height: 30.65px;
      }
      @include mq(desktop-wide) {
        font-size: 35px;
        line-height: 42px;
      }
      @include mq(tablet, max) {
        font-style: normal;
      }
    }
  }
}

.home-main__slider,
.home-sub__slider {
  height: svw(535px);

  @include mq(tablet) {
    height: vw(807px, $viewport-lg);
  }
  @include mq(desktop-wide) {
    height: 100vh;
  }
}

.home-main__slider {
  width: svw(240px);

  @include mq(tablet) {
    width: vw(470.54px, $viewport-lg);
  }
  @include mq(desktop-wide) {
    width: vw(650px);
  }

  // .slick-list {
  //   height: 100% !important;
  // }
  .home-main__slide {
    height: svw(535px);

    @include mq(tablet) {
      padding-top: 40px;
      height: vw(827px, $viewport-lg);
    }
    @include mq(desktop-wide) {
      height: 100vh;
    }

    img {
      display: block;
      @include coverImage();
    }
  }
}

.home-sub__slider {
  width: svw(135px);
  @include mq(tablet) {
    width: vw(270px, $viewport-lg);
  }
  @include mq(desktop-wide) {
    width: vw(375px);
  }

  .slick-list {
    height: 100% !important;
  }

  .home-sub__slide {
    @include mq(tablet) {
      padding-top: vw(60px);
    }
  }
}


.sp-headline.slide span {
  display: block;
  padding: 0
}

.sp-headline.slide .sp-words-wrapper {
  overflow: hidden;
  vertical-align: bottom;
  width: auto
}

.sp-headline.slide b {
  opacity: 0;
  top: .2em
}

.sp-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in .6s;
  -moz-animation: slide-in .6s;
  animation: slide-in .6s
}

.sp-headline.slide b.is-hidden {
  -webkit-animation: slide-out .6s;
  -moz-animation: slide-out .6s;
  animation: slide-out .6s
}

.sp-words-wrapper {
  position: relative;
  text-align: left;
  width: auto !important;
  vertical-align: bottom;
  overflow: visible !important;
  b {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    white-space: nowrap;
    font-weight: 400;
    &:first-child {
      position: static;
    }
  }
}


@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100%)
  }

  60% {
    opacity: 1;
    -webkit-transform: translatey(20%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translatey(0)
  }
}

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translatey(-100%)
  }

  60% {
    opacity: 1;
    -moz-transform: translatey(20%)
  }

  100% {
    opacity: 1;
    -moz-transform: translatey(0)
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100%);
    -moz-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    -o-transform: translatey(-100%);
    transform: translatey(-100%)
  }

  60% {
    opacity: 1;
    -webkit-transform: translatey(20%);
    -moz-transform: translatey(20%);
    -ms-transform: translatey(20%);
    -o-transform: translatey(20%);
    transform: translatey(20%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0)
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translatey(0)
  }

  60% {
    opacity: 0;
    -webkit-transform: translatey(120%)
  }

  100% {
    opacity: 0;
    -webkit-transform: translatey(100%)
  }
}

@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translatey(0)
  }

  60% {
    opacity: 0;
    -moz-transform: translatey(120%)
  }

  100% {
    opacity: 0;
    -moz-transform: translatey(100%)
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0)
  }

  60% {
    opacity: 0;
    -webkit-transform: translatey(120%);
    -moz-transform: translatey(120%);
    -ms-transform: translatey(120%);
    -o-transform: translatey(120%);
    transform: translatey(120%)
  }

  100% {
    opacity: 0;
    -webkit-transform: translatey(100%);
    -moz-transform: translatey(100%);
    -ms-transform: translatey(100%);
    -o-transform: translatey(100%);
    transform: translatey(100%)
  }
}