.logos-module {
  background: linear-gradient(96.63deg, #FFE6B1 0.57%, #F9F9F9 63.86%, #D3FBEA 100%);
  cursor: none !important;
  &.logos-module--media {
    background: linear-gradient(96.1deg, #DFF5ED 7.09%, #F9F9F9 54.21%, #D8CBF2 99.41%);
  }
  &.logos-module--blue {
    background: linear-gradient(96.1deg, #FEECB5 7.09%, #F9F9F9 54.21%, #D8CBF2 99.41%);
  }

  .section-title {
    margin-bottom: 60px;
    @include mq(tablet, max) {
      text-transform: initial;
      letter-spacing: 0;
    }
    @include mq(tablet) {
      margin-bottom: vw(110px);
    }
  }
  &__slider {

  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  &__link {
    // padding: 0 25px;
    // width: 135px !important;

    @include mq(tablet) {
      // padding: 0 vw(87.5px);
      // width: auto !important;
      // width: vw(220px) !important;
      text-align: center;
    }
    @include mq(desktop) {
      // padding: 0 87.5px;
      // width: 220px !important;
    }
    img {
      margin: 0 auto;
      max-width: 100%;
      width: auto;
      transition: transform .3s ease-in-out;
      will-change: transform;
    }
  }
}