.media-content {
  padding-bottom: 15px;
  @include mq(tablet) {
    padding-bottom: 0;
    display: flex;
    height: 100vh;
  }
  .col {
    @include mq(tablet) {
      flex: 0 0 50%;
      height: 100vh;
    }
  }

  &__image {
    padding: 80px 0;
    text-align: center;
    @include mq(tablet) {
      padding: vw(170px) 0;
    }
    @include when-inside('.media-content--right') {
      order: 1;
    }
    img {
      margin: 0 auto;
      height: 400px;
      @include mq(tablet) {
        height: 100%;
      }
    }
  }

  &__content {
    margin: 0 15px;
    padding: 40px 10px 20px;
    @include mq(tablet) {
      display: flex;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
    &--inner {
      text-align: center;
      @include mq(tablet) {
        max-width: vw(560px);
      }
    }
  }

  &__number {
    display: inline-block;
    @include typography(25.79px, 46.26px, 30.95px, 55.51px, 700, $f-heading);
    border-bottom: 1px solid $primary;
  }
  
  &__heading {
    margin-bottom: 6px;
    @include typography(50px, 92.52px, 60px, 111.02px, 700, $f-heading);
    @include mq(tablet) {
      margin-bottom: 12px;
    }
  }

  &__desc {
    @include typography(22px, 40px, 31.15px, 54px, 700, $f-heading);
  }
}