.media-content {
  padding-top: 0;
  padding-bottom: 15px;
  @include mq(tablet) {
    padding: 0;
    display: flex;
  }
  .col {
    @include mq(tablet) {
      flex: 0 0 50%;
      height: 100vh;
    }
  }

  &__image {
    display: flex;
    padding: 80px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include mq(tablet) {
      padding: vw(170px) 0;
    }
    @include when-inside('.media-content--right') {
      order: 1;
    }
    img {
      margin: 0 auto;
      height: 400px;
      @include mq(tablet) {
        height: 100%;
      }
    }
    dotlottie-player,
    lottie-player {
      margin: 0 auto;
      height: 400px;
      @include mq(tablet) {
        height: 100%;
      }
    }

  }

  &__content {
    padding: 40px 10px;
    margin: 0 15px;
    @include mq(tablet) {
      display: flex;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
    &--inner {
      text-align: center;
      @include mq(tablet) {
        max-width: 80%;
      }
      @include mq(desktop-small) {
        max-width: vw(560px);
      }
    }
  }

  &__number {
    display: inline-block;
    @include typography(25.79px, 33.76px, 30.95px, 40.51px, 700, $f-heading);
    border-bottom: 1px solid $primary;
    @include mq(desktop-wide) {
      @include typography(25.79px, 46.26px, 30.95px, 55.51px, 700, $f-heading);
    }
    @include when-inside('.media-content__content--light') {
      color: $c-white;
      border-bottom-color: $c-white;
    }
  }
  
  &__heading {
    margin-bottom: 6px;
    @include typography(50px, 67.51px, 60px, 81.01px, 700, $f-heading);
    @include mq(tablet) {
      font-size: vw(67.51px, $viewport-lg);
      line-height: vw(81.01px, $viewport-lg);
      margin-bottom: 12px;
    }
    @include mq(desktop-wide) {
      // @include typography(50px, 92.52px, 60px, 111.02px, 700, $f-heading);
      font-size: vw(92.52px);
      line-height: vw(111.02px);
    }
    @include when-inside('.media-content__content--light') {
      color: $c-white;
    }
  }

  &__desc {
    @include typography(22px, 29.19px, 31.15px, 39.4px, 700, $f-heading);
    @include mq(tablet) {
      font-size: vw(30px, $viewport-lg);
      line-height: vw(40.5px, $viewport-lg);
    }
    @include mq(desktop-wide) {
      // @include typography(22px, 40px, 31.15px, 54px, 700, $f-heading);
      font-size: vw(40px);
      line-height: vw(54px);
    }
    @include when-inside('.media-content__content--light') {
      color: $c-white;
    }
  }
}