.slider {
  transition: background .3s ease-in-out;
  cursor: none !important;
  .section-title {
    margin-bottom: 65px;
    @include mq(tablet) {
      margin-bottom: vw(96px);
    }
  }
  .slick-list {
    @include mq(tablet) {
      overflow: visible;
    }
  }
  .slick-track {
    display: flex;
  }
  .container {
    position: relative;
    @include mq(tablet, max) {
      margin-right: -20px;
    }
  }
  .slick-slide {
    margin-right: 15px;
    height: inherit !important;
    @include mq(tablet, max) {
      margin-right: vw(90px);
      background-color: $c-white;
    }
    @include mq(desktop-wide) {
      margin-right: 90px;
    }
  }
  .slide {
    width: svw(300px);
    @include mq(tablet) {
      display: flex;
      width: auto;
      align-items: center;
    }
    &-img {
      width: 100%;
      line-height: 0;
      @include mq(tablet) {
        width: vw(714px);
      }
      img {
        @include coverImage();
      }
      .img-a-img::before {
        padding-top: 100%;
      }
    }
    &-content {
      display: flex;
      padding: 28px 20px;
      flex-direction: column;
      background-color: $background_color;
      width: 100%;
      z-index: 1;
      @include mq(tablet) {
        margin-left: vw(-40px);
        padding: vw(100px) vw(40px);
        width: vw(600px);
      }
      &__name {
        @include typography(20px, 21.89px, 24.38px, 26.68px, 700, $f-secondary);
        text-transform: uppercase;
        letter-spacing: 0.04em;
        @include mq(tablet) {
          margin-bottom: vw(20px);
        }
        @include mq(desktop-wide) {
          @include typography(20px, 30px, 24.38px, 36.57px, 700, $f-secondary);
        }
      }
      &__info,
      &__bio {
        @include typography(12px, 10.22px, 18px, 17.15px, 600, $f-secondary);
        @include mq(desktop-wide) {
          @include typography(12px, 14px, 18px, 23.5px, 600, $f-secondary);
        }
      }
      &__bio {
        display: none;
        @include mq(tablet) {
          display: block;
          margin-bottom: vw(36px);
        }
      }
      hr {
        margin: 20px 0;
        width: 34px;
        border-color: #CEAF87;
        @include mq(tablet) {
          margin: vw(12px) 0 vw(19px);
          width: vw(60px);
        }
      }
      &__testimonial {
        margin-top: auto;
        @include typography(18px, 16.05px, 25px, 25.75px, 600, $f-text);
        letter-spacing: 0.01em;
        @include mq(desktop-wide) {
          @include typography(18px, 22px, 25px, 35.29px, 600, $f-text);
        }
      }
    }
  }
  .slick-arrow {
    width: auto;
    height: auto;
    z-index: 10;
    @include mq(tablet) {
      width: vw(69px);
    }
    @include mq(desktop-wide) {
      width: 69px;
    }
    &::before {
      content: none;
    }
    svg {
      width: 100%;
      height: auto;
      transition: transform .3s ease-in-out;
      will-change: transform;
    }
    @include mq(tablet, max) {
      display: none;
    }
  }
  .slick-next {
    @include mq(tablet) {
      right: vw(120px);
    }
    @include mq(desktop-wide) {
      right: 120px;
    }
    &:hover {
      svg {
        transform: translateX(20px);
      }
    }
  }
  .slick-prev {
    @include mq(tablet) {
      left: vw(-55px);
    }
    @include mq(desktop-wide) {
      left: -55px;
    }
    svg {
      transform: scaleX(-1);
    }
    &:hover {
      svg {
        transform: translateX(-20px) scaleX(-1);
      }
    }
  }
}