.svg-section {
  position: relative;
  overflow: hidden;
}

.svg-block {
  &--top {
    @include mq(tablet) {
      padding-bottom: vw(120px);
    }
    .section-title {
      @include mq(tablet) {
        margin-bottom: vw(45px);
      }
    }
  }

  &--bottom {
    background-color: $primary;
    @include mq(tablet) {
      padding-bottom: vw(150px);
    }
    .section-title {
      color: $c-white;
      @include mq(tablet) {
        margin-bottom: vw(180px);
      }
    }
    .svg-block__text {
      @include mq(tablet) {
        margin-bottom: vw(85px);
      }
    }
  }

  &__inner {
    display: flex;
    @include mq(tablet, max) {
      flex-direction: column;
    }
    @include when-inside('.svg-block--bottom') {
      align-items: flex-end;
    }
  }
  &__image {
    @include mq(tablet, max) {
      margin: 88px 0 47px;
      @include when-inside('.svg-block--bottom') {
        margin: 88px 0 20px;
      }
    }
  }

  &__content {
    @include mq(tablet, max) {
      @include when-inside('.svg-block--top') {
        order: 1;
      }
    }
    @include mq(tablet) {
      max-width: vw(405px);
      @include when-inside('.svg-block--top') {
        margin-right: vw(45px);
      }
      @include when-inside('.svg-block--bottom') {
        margin-left: vw(60px);
      }
    }
    p {
      margin-bottom: 1em;
      font: 400 28px/40px $f-text;
      @include mq(tablet) {
        font-size: 16.78px;
        line-height: 27px;
      }
      @include mq(desktop-wide) {
        font-size: 23px;
        line-height: 37px;
      }
      @include when-inside('.svg-block--bottom') {
        color: $secondary;
      }
    }
  }
}
.marquee {
  display: none;
  position: absolute;
  width: 20px;
  height: 100%;
  // transform: rotate(90deg);
  @include mq(tablet) {
    top: vw(50px);
    display: block;
    left: 25px;

  }
}
.marquee-text {
  background: -webkit-linear-gradient(#FFA012, #AD73FD, #59E8AC, #1CB2F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800% 800%;

  -webkit-animation: verticalGradient 18s ease infinite;
  -moz-animation: verticalGradient 18s ease infinite;
  animation: verticalGradient 18s ease infinite;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 2;
  white-space: nowrap;
  @include mq(tablet) {
    font: 700 14.66px/17.59px $f-text;
    font-style: italic;
  }
  @include mq(desktop-wide) {
    font-size: 20.09px;
    line-height: 24.11px;
  }
  span {
    margin-bottom: 20px;
  }
}

@-webkit-keyframes verticalGradient {
  0%{background-position:53% 0%}
  50%{background-position:48% 100%}
  100%{background-position:53% 0%}
}
@-moz-keyframes verticalGradient {
  0%{background-position:53% 0%}
  50%{background-position:48% 100%}
  100%{background-position:53% 0%}
}
@keyframes verticalGradient {
  0%{background-position:53% 0%}
  50%{background-position:48% 100%}
  100%{background-position:53% 0%}
}