html, body { margin: 0; padding: 0; background: #fff; color: #141820; color: #141820; font-size: calc( 12px + 2 * ((100vw - 375px) / 1065) ); font-family: "meno-text", sans-serif; font-weight: 400; line-height: calc( 18px + 3 * ((100vw - 375px) / 1065) ); overflow-x: hidden; }
@media only screen and (min-width: 1440px) { html, body { font-size: 14px; line-height: 21px; } }

body { min-height: 100vh; min-height: -webkit-fill-available; }

html { height: -webkit-fill-available; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:focus { outline: none; }

a, button { cursor: pointer; text-decoration: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

button { padding: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: #0000; border: none; -webkit-box-shadow: none; box-shadow: none; outline: none; }

img { max-width: 100%; }

hr { border-top: 1px solid rgba(112, 112, 112, 0.6); border-bottom: 0; }

ul { margin: 0; padding-left: 0; list-style: none; }

svg path { -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

body::-webkit-scrollbar { width: 5px; }

body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb { background-color: #141820; outline: none; }

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }

html .datepicker-dropdown { padding: 30px; margin-top: -11px; border: 1px solid #4a4a4a; -webkit-box-shadow: none; box-shadow: none; background: #fff; width: 335px !important; font-size: 14px; line-height: 36px; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (min-width: 769px) { html .datepicker-dropdown { width: 325px !important; } }
@media only screen and (min-width: 993px) { html .datepicker-dropdown { width: 390px !important; } }
@media only screen and (min-width: 1201px) { html .datepicker-dropdown { padding: 50px; } }
html .datepicker-dropdown::before, html .datepicker-dropdown::after { content: none; }
html .datepicker-panel > ul { width: 280px; margin-left: auto; margin-right: auto; }
html .datepicker-panel > ul > li { width: 40px; height: 40px; }
html .datepicker-panel > ul[data-view="week"] > li, html .datepicker-panel > ul[data-view="week"] > li:hover { background-color: #fff; color: #000; font-weight: 600; }
html .datepicker-panel > ul > li { background-color: #fff; border-radius: 50%; color: #000; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; }
html .datepicker-panel > ul > li:hover { background-color: #141820; color: #fff; }
html .datepicker-panel > ul > li.disabled, html .datepicker-panel > ul > li.disabled:hover { background-color: #fff; color: #fff; }
html .datepicker-panel > ul > li.muted { background-color: #fff; color: #141820; }
html .datepicker-panel > ul > li.muted:hover { background-color: #141820; color: #fff; }
html .datepicker-panel > ul > li.highlighted, html .datepicker-panel > ul > li.highlighted:hover, html .datepicker-panel > ul > li.picked, html .datepicker-panel > ul > li.picked:hover { background-color: #141820; color: #fff; }
html .datepicker-panel > ul > li[data-view="month current"], html .datepicker-panel > ul > li[data-view="year current"], html .datepicker-panel > ul > li[data-view="years current"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font: 600 16px/19.2px "meno-text", sans-serif; color: #141820; text-transform: uppercase; border-radius: 0; width: 200px; }
html .datepicker-panel > ul > li[data-view="month current"]:hover, html .datepicker-panel > ul > li[data-view="year current"]:hover, html .datepicker-panel > ul > li[data-view="years current"]:hover { color: #fff; }
html .datepicker-panel > ul > li[data-view="month current"].disabled, html .datepicker-panel > ul > li[data-view="year current"].disabled, html .datepicker-panel > ul > li[data-view="years current"].disabled { pointer-events: none; }
html .datepicker-panel > ul > li[data-view="month prev"], html .datepicker-panel > ul > li[data-view="month next"] { position: relative; font-size: 0; }
html .datepicker-panel > ul > li[data-view="month prev"]::before, html .datepicker-panel > ul > li[data-view="month next"]::before { position: absolute; content: ""; display: inline-block; width: 0; height: 0; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
html .datepicker-panel > ul > li[data-view="month prev"]::before { border-style: solid; border-width: 3.5px 8px 3.5px 0; border-color: transparent #404040 transparent transparent; }
html .datepicker-panel > ul > li[data-view="month next"]::before { border-style: solid; border-width: 3.5px 0 3.5px 8px; border-color: transparent transparent transparent #404040; }

html .slick-dots { position: static; text-align: left; margin-top: 18px; line-height: 0; }
html .slick-dots li { margin-left: 0; margin-right: 6px; width: auto; height: auto; }
html .slick-dots li button { padding: 0; width: 9px; height: 9px; border-radius: 50%; background-color: #a7a7a7; -webkit-transition: background 0.3s ease-in-out; transition: background 0.3s ease-in-out; }
html .slick-dots li button::before { content: none; }
html .slick-dots li.slick-active button { background-color: #6b903e; }

html .magnify > .magnify-lens { width: 170px; height: 170px; -webkit-box-shadow: 0 0 0 7px #6b903e, 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25); box-shadow: 0 0 0 7px #6b903e, 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25); }

.jcf-select { position: relative; cursor: pointer; }
.jcf-select::after { position: absolute; content: ""; top: 50%; right: 20px; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 8px 4.5px 0 4.5px; border-color: #404040 transparent transparent transparent; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.jcf-select.jcf-drop-active::after { -webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }
.jcf-select-drop { position: absolute; top: 42px; left: -1px; background-color: #fff; border: 1px solid #6b6969; z-index: 1; }

.jcf-select, .jcf-list li span { display: block; padding: 14px 20px; font: 600 12px/14.4px "meno-text", sans-serif; letter-spacing: 0.25em; color: #181818; text-transform: uppercase; border: 1px solid #4a4a4a; border-radius: 0; background-color: #0000; width: 100%; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.jcf-list li span { display: block; border: none; border-bottom: 1px solid #4a4a4a; -webkit-transition: background 0.3s ease-in-out; transition: background 0.3s ease-in-out; }
@media only screen and (min-width: 769px) { .jcf-list li span:hover { background-color: #fbfae5; } }
.jcf-list li:last-child span { border: none; }
.jcf-list-content { display: block; max-height: 171px !important; }
.jcf-list-content::-webkit-scrollbar { width: 4px; }
.jcf-list-content::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); }
.jcf-list-content::-webkit-scrollbar-thumb { background-color: #141820; outline: none; }

/** Basic typography style for copy text */
h1, h2, h3, h4, h5, h6 { margin: 0; }

h1, .h-1 { color: #141820; font-size: calc( 40px + 34 * ((100vw - 375px) / 1065) ); font-family: "meno-banner", sans-serif; font-weight: 400; line-height: calc( 48px + 39.51 * ((100vw - 375px) / 1065) ); }
@media only screen and (min-width: 1440px) { h1, .h-1 { font-size: 74px; line-height: 87.51px; } }

h6 { color: #141820; font-size: calc( 12px + 2 * ((100vw - 375px) / 1065) ); font-family: "meno-text", sans-serif; font-weight: 600; line-height: calc( 14.4px + 2.4 * ((100vw - 375px) / 1065) ); letter-spacing: 0.3em; text-transform: uppercase; }
@media only screen and (min-width: 1440px) { h6 { font-size: 14px; line-height: 16.8px; } }

p { margin: 0; color: #141820; font-size: calc( 12px + 2 * ((100vw - 375px) / 1065) ); font-family: "meno-text", sans-serif; font-weight: 400; line-height: calc( 18px + 3 * ((100vw - 375px) / 1065) ); }
@media only screen and (min-width: 1440px) { p { font-size: 14px; line-height: 21px; } }

.img-a, .img-a-left, .img-a-up, .img-a-video { position: relative; display: inline-block; width: 100%; overflow: hidden; z-index: 1; }

.img-a-video .img-a-img:before { padding-top: 56.25%; }

.img-a-bg-video, .img-a-decor { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.img-a-bg-video iframe, .img-a-bg-video video { -o-object-fit: cover; object-fit: cover; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }

.img-a-decor { -webkit-transform: translateX(-100%); transform: translateX(-100%); background-color: #141820; z-index: 2; }

.img-a-left .img-a-decor { -webkit-transform: translateX(100%); transform: translateX(100%); }

.img-a-img { position: relative; overflow: hidden; }

.img-a-img:before { content: ""; display: block; width: 100%; padding-top: 61.64%; }

.img-a-img img, .img-a-up .img-a-img img { width: 100%; -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }

.img-a-img img { height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; position: absolute; left: 0; top: 0; }

.img-a-up .img-a-img img { -webkit-transform: translateY(100%); transform: translateY(100%); }

.img-not-a .img-a-img img { -webkit-clip-path: inherit; clip-path: inherit; }

.a-hidden { opacity: 0; }

.a-visible { opacity: 1; }

.animated, .beforeHeightUp:before { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

.fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }

.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; }

.downFull { -webkit-animation-name: downFull; animation-name: downFull; }

.upFull { -webkit-animation-name: upFull; animation-name: upFull; }

.fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

.fade { -webkit-animation-name: fade; animation-name: fade; }

.beforeHeightUp:before { -webkit-animation-name: heightUp; animation-name: heightUp; }

.widthGrowth { -webkit-animation-name: widthGrowth; animation-name: widthGrowth; }

.a-delay-1 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

.a-delay-2 { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }

.a-delay-3 { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }

.a-delay-4 { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translate3d(0, -50px, 0); transform: translate3d(0, -50px, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translate3d(0, -50px, 0); transform: translate3d(0, -50px, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@-webkit-keyframes fadeInLeft { 0% { opacity: 0; -webkit-transform: translate3d(50px, 0, 0); transform: translate3d(50px, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@keyframes fadeInLeft { 0% { opacity: 0; -webkit-transform: translate3d(50px, 0, 0); transform: translate3d(50px, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@-webkit-keyframes downFull { 0% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { -webkit-transform: none; transform: none; } }
@keyframes downFull { 0% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { -webkit-transform: none; transform: none; } }
@-webkit-keyframes upFull { 0% { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { -webkit-transform: none; transform: none; } }
@keyframes upFull { 0% { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { -webkit-transform: none; transform: none; } }
@-webkit-keyframes fadeInRight { 0% { opacity: 0; -webkit-transform: translate3d(-50px, 0, 0); transform: translate3d(-50px, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@keyframes fadeInRight { 0% { opacity: 0; -webkit-transform: translate3d(-50px, 0, 0); transform: translate3d(-50px, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; } }
@-webkit-keyframes fade { 0% { opacity: 0; }
  to { opacity: 1; } }
@keyframes fade { 0% { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes heightUp { 0% { height: 0%; }
  to { height: 100%; } }
@keyframes heightUp { 0% { height: 0%; }
  to { height: 100%; } }
@-webkit-keyframes widthGrowth { 0% { width: 0%; }
  to { width: 100%; } }
@keyframes widthGrowth { 0% { width: 0%; }
  to { width: 100%; } }
@-webkit-keyframes BgUp { to { background-position: 50% 0; } }
@keyframes BgUp { to { background-position: 50% 0; } }
@-webkit-keyframes BgDown { 0% { background-size: 100% 0; }
  to { background-size: 100% var(--block-height); } }
@keyframes BgDown { 0% { background-size: 100% 0; }
  to { background-size: 100% var(--block-height); } }
@-webkit-keyframes swiper-preloader-spin { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes swiper-preloader-spin { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.header { position: fixed; width: 100%; top: 0; left: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; z-index: 10; top: 0; }
.admin-bar .header { top: 32px; }
@media screen and (max-width: 782px) { .admin-bar .header { top: 46px; } }
.header.sticky { background: #141820; border-bottom: 1px solid #141820; }
@media screen and (max-width: 600px) { .admin-bar .header.sticky { top: 0; } }
.header.sticky .menu-item .nav-link { color: #fff; }
.header-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media only screen and (min-width: 769px) { .header-nav { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding: 0 3.125vw; } }
.sticky .header-nav { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.header-logo { display: block; }
@media only screen and (min-width: 769px) { .header-logo { max-width: 15.1041666667vw; } }
.sticky .header-logo { display: none; }
.header-logo--mobile { display: none; }
.sticky .header-logo--mobile { display: block; }
@media only screen and (max-width: 768px) { .header-menus { position: absolute; padding: 0 15px 32px; top: 0; left: 0; width: 100%; background-color: #141820; color: #fff; -webkit-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
  .header--open .header-menus { -webkit-transform: none; transform: none; } }
.header-menus__top { margin-bottom: 43px; }
@media only screen and (min-width: 769px) { .header-menus__top { display: none; } }
.header-menus .hamburger-close { position: absolute; top: 13px; right: 22px; }
.header-social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
@media only screen and (min-width: 769px) { .header-social { display: none; } }
.header-social__title { margin-right: 22px; font: 700 17.38px/20.86px "meno-banner", sans-serif; font-style: italic; color: #fff; }
.header-social__link { margin-right: 23px; }
.header-social__link:last-child { margin-right: 0; }
@media only screen and (min-width: 769px) { .header .menu-items { display: -webkit-box; display: -ms-flexbox; display: flex; } }
.header .menu-item { margin-bottom: 30px; text-align: center; }
@media only screen and (min-width: 769px) { .header .menu-item { margin-bottom: 0; margin-right: 1.9791666667vw; text-align: left; } }
.header .menu-item .nav-link { font: 700 40px/48px "meno-banner", sans-serif; color: #fff; }
@media only screen and (min-width: 769px) { .header .menu-item .nav-link { font: 400 16px/19.5px "Montserrat", sans-serif; color: #141820; } }
.header .menu-item:last-child { margin-right: 0; }

.hamburger { margin-right: 15px; }
@media only screen and (min-width: 769px) { .hamburger { display: none; } }
.hamburger line { -webkit-transition: stroke .3s ease-in-out; transition: stroke .3s ease-in-out; }
.sticky .hamburger line { stroke: #fff; }

.footer-top { padding: 14px 0; background-color: #A072DF; }
@media only screen and (min-width: 769px) { .footer-top { padding: 1.3541666667vw 0; } }
.footer-top .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media only screen and (min-width: 769px) { .footer-top .container { padding: 0 0.9895833333vw; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }
.footer-top__title { color: #fff; font-size: calc( 14px + 12 * ((100vw - 375px) / 1065) ); font-family: "meno-text", sans-serif; font-weight: 700; line-height: calc( 16.8px + 14.4 * ((100vw - 375px) / 1065) ); letter-spacing: 0.1em; font-style: italic; }
@media only screen and (min-width: 1440px) { .footer-top__title { font-size: 26px; line-height: 31.2px; } }
@media only screen and (max-width: 768px) { .footer-top__title { margin-right: auto; } }
@media only screen and (min-width: 769px) { .footer-top__title { margin-right: 3.125vw; } }
.footer-social { display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 25px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font: 400 21.89px/1.3 "Montserrat", sans-serif; color: #fff; }
@media only screen and (min-width: 769px) { .footer-social { margin-right: 3.3854166667vw; } }
@media only screen and (min-width: 1440px) { .footer-social { font-size: 30px; } }
.footer-social:last-child { margin-right: 0; }
.footer-social span { display: none; position: relative; }
@media only screen and (min-width: 769px) { .footer-social span { display: block; margin-left: 0.9895833333vw; } }
.footer-social span::after { position: absolute; content: ''; left: 0; bottom: 0; width: 100%; height: 1px; background-color: #fff; -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; will-change: transform; }
.footer-social span:hover::after { -webkit-transform: scaleX(0); transform: scaleX(0); }
.footer-main { padding: 37px 15px; background: linear-gradient(325.2deg, #B997E7 1%, #FFCDD3 42.14%, #FED78B 79.84%); }
@media only screen and (min-width: 769px) { .footer-main { padding: 4.6875vw 3.125vw 1.5625vw; } }
.footer-shape { margin-bottom: 16px; }
@media only screen and (min-width: 769px) { .footer-shape { margin-bottom: 2.2916666667vw; } }
.footer-logo { margin-bottom: 20px; }
@media only screen and (min-width: 769px) { .footer-logo { margin-bottom: 1.3541666667vw; } }
.footer-text { color: #141820; font-size: calc( 14px + 12 * ((100vw - 375px) / 1065) ); font-family: "meno-text", sans-serif; font-weight: 700; line-height: calc( 16.8px + 14.4 * ((100vw - 375px) / 1065) ); letter-spacing: 0.1em; font-style: italic; }
@media only screen and (min-width: 1440px) { .footer-text { font-size: 26px; line-height: 31.2px; } }
.footer-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 24px 15px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media only screen and (min-width: 769px) { .footer-bottom { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 1.8229166667vw 3.125vw 2.0833333333vw; } }
.footer-link, .footer-copy { color: #141820; font-size: calc( 10px + 6 * ((100vw - 375px) / 1065) ); font-family: "Montserrat", sans-serif; font-weight: 400; line-height: calc( 15px + -1 * ((100vw - 375px) / 1065) ); text-transform: uppercase; }
@media only screen and (min-width: 1440px) { .footer-link, .footer-copy { font-size: 16px; line-height: 14px; } }
@media only screen and (max-width: 768px) { .footer-link, .footer-copy { color: #858480; } }
@media only screen and (min-width: 769px) { .footer-link, .footer-copy { margin-right: 1.7708333333vw; } }
.footer-copy { margin-right: 0; }

.lds-roller__wrapper { position: absolute; top: 100; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.lds-roller { margin: auto; display: block; position: relative; width: 80px; height: 80px; grid-column-start: 2; }

.lds-roller div { -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; -webkit-transform-origin: 40px 40px; transform-origin: 40px 40px; }

.lds-roller div:after { content: " "; display: block; position: absolute; width: 7px; height: 7px; border-radius: 50%; background: #141820; margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) { -webkit-animation-delay: -0.036s; animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after { top: 63px; left: 63px; }

.lds-roller div:nth-child(2) { -webkit-animation-delay: -0.072s; animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after { top: 68px; left: 56px; }

.lds-roller div:nth-child(3) { -webkit-animation-delay: -0.108s; animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after { top: 71px; left: 48px; }

.lds-roller div:nth-child(4) { -webkit-animation-delay: -0.144s; animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after { top: 72px; left: 40px; }

.lds-roller div:nth-child(5) { -webkit-animation-delay: -0.18s; animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after { top: 71px; left: 32px; }

.lds-roller div:nth-child(6) { -webkit-animation-delay: -0.216s; animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after { top: 68px; left: 24px; }

.lds-roller div:nth-child(7) { -webkit-animation-delay: -0.252s; animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after { top: 63px; left: 17px; }

.lds-roller div:nth-child(8) { -webkit-animation-delay: -0.288s; animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after { top: 56px; left: 12px; }

@-webkit-keyframes lds-roller { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes lds-roller { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.home-banner { display: -webkit-box; display: -ms-flexbox; display: flex; }
@media only screen and (max-width: 768px) { .home-banner { padding: 93px 0 0 !important; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }
@media only screen and (min-width: 769px) { .home-banner { max-height: 100vh; overflow: hidden; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 3.125vw !important; } }
.home-banner__slider { display: -webkit-box; display: -ms-flexbox; display: flex; }
.home-banner__slider img { display: block; width: 100%; }
.home-banner__slider .slick-slide { line-height: 0; border: none; }
.home-banner__content { margin-bottom: 30px; padding: 0 15px; }
@media only screen and (min-width: 769px) { .home-banner__content { margin-bottom: 0; margin-left: 3.125vw; padding: 0; max-width: 32.2916666667vw; } }

.home-main__slider, .home-sub__slider { height: 142.6666666667vw; }
@media only screen and (min-width: 769px) { .home-main__slider, .home-sub__slider { height: 100vh; } }

.home-main__slider { width: 64vw; }
@media only screen and (min-width: 769px) { .home-main__slider { width: 33.8541666667vw; } }
.home-main__slider .home-main__slide { height: 142.6666666667vw; }
@media only screen and (min-width: 769px) { .home-main__slider .home-main__slide { height: 100vh; } }
.home-main__slider .home-main__slide img { display: block; display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

@media only screen and (min-width: 769px) { .home-sub__slider { width: 19.53125vw; } }
.home-sub__slider .slick-list { height: 100% !important; }

.accordions.accordions--dark { background-color: #141820; color: #fff; }
.accordions.accordions--light { background-color: #fff; color: #141820; }
@media only screen and (min-width: 769px) { .accordions { padding-bottom: 7.2916666667vw; } }
@media only screen and (min-width: 769px) { .accordions .section-title { margin-bottom: 4.53125vw; } }

.accordion { -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.accordion.hover .accordion-header, .accordion.active .accordion-header { border-color: #141820; }
.accordion.hover .accordion-header::before, .accordion.hover .accordion-header::after, .accordion.active .accordion-header::before, .accordion.active .accordion-header::after { background-color: #141820; }
.accordion.hover .accordion-title, .accordion.hover .accordion-subtitle, .accordion.active .accordion-title, .accordion.active .accordion-subtitle { color: #141820; }
.accordion-header { position: relative; padding: 12px 0; border-bottom: 1px solid #fff; cursor: pointer; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
@media only screen and (min-width: 769px) { .accordion-header { padding: 0.7291666667vw 0 1.1979166667vw; } }
.accordions--light .accordion-header { border-color: #141820; }
.accordion-header::before, .accordion-header::after { position: absolute; top: 50%; right: 0; content: ''; width: 24px; height: 1px; background-color: #fff; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
@media only screen and (min-width: 769px) { .accordion-header::before, .accordion-header::after { width: 1.9791666667vw; height: 2px; } }
.accordion-header::after { -webkit-transform: translateY(-50%) rotate(90deg); transform: translateY(-50%) rotate(90deg); }
.active .accordion-header::after { -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.accordion-title { color: #fff; font-size: calc( 24px + 16 * ((100vw - 375px) / 1065) ); font-family: "Montserrat", sans-serif; font-weight: 300; line-height: calc( 29.26px + 19.5 * ((100vw - 375px) / 1065) ); -webkit-transition: color .3s ease-in-out; transition: color .3s ease-in-out; }
@media only screen and (min-width: 1440px) { .accordion-title { font-size: 40px; line-height: 48.76px; } }
.accordion-subtitle { display: none; font: 400 20px/35px "meno-text", sans-serif; color: #fff; -webkit-transition: color .3s ease-in-out; transition: color .3s ease-in-out; }
@media only screen and (min-width: 769px) { .accordion-subtitle { display: block; } }
.accordion-content { display: none; padding: 40px 0; }
@media only screen and (min-width: 769px) { .accordion-content { padding: 2.1875vw 0 3.125vw; } }
@media only screen and (min-width: 769px) { .accordion-content__inner { display: -webkit-box; display: -ms-flexbox; display: flex; } }
.accordion-content__image { margin-bottom: 30px; }
@media only screen and (min-width: 769px) { .accordion-content__image { margin-right: 40px; margin-bottom: 0; -webkit-box-flex: 0; -ms-flex: 0 0 155px; flex: 0 0 155px; } }
.accordion-content__text { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.accordion-content__text p { font: 400 20px/34px "meno-text", sans-serif; }
@media only screen and (min-width: 769px) { .accordion-content__text { max-width: 830px; } }

.logos-module { background: linear-gradient(96.63deg, #FFE6B1 0.57%, #F9F9F9 63.86%, #D3FBEA 100%); }
.logos-module.logos-module--media { background: linear-gradient(96.1deg, #DFF5ED 7.09%, #F9F9F9 54.21%, #D8CBF2 99.41%); }
.logos-module .section-title { margin-bottom: 60px; }
@media only screen and (max-width: 768px) { .logos-module .section-title { text-transform: initial; letter-spacing: 0; } }
@media only screen and (min-width: 769px) { .logos-module .section-title { margin-bottom: 5.7291666667vw; } }
.logos-module .slick-track { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.logos-module__link { margin-right: 50px; width: 135px !important; }
@media only screen and (min-width: 769px) { .logos-module__link { margin-right: 7.2916666667vw; width: 11.4583333333vw !important; text-align: center; } }
.logos-module__link img { margin: 0 auto; max-width: 100%; max-height: 50px; width: auto; }
@media only screen and (min-width: 769px) { .logos-module__link img { max-height: 4.1666666667vw; } }

.slider .section-title { margin-bottom: 65px; }
@media only screen and (min-width: 769px) { .slider .section-title { margin-bottom: 5vw; } }
.slider .slick-track { display: -webkit-box; display: -ms-flexbox; display: flex; }
.slider .container { margin-right: -20px; }
.slider .slick-slide { margin-right: 15px; height: inherit !important; }
@media only screen and (max-width: 768px) { .slider .slick-slide { background-color: #fff; } }
.slider .slide { width: 300px; }
@media only screen and (min-width: 769px) { .slider .slide { display: -webkit-box; display: -ms-flexbox; display: flex; width: auto; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
.slider .slide-img { width: 100%; line-height: 0; }
@media only screen and (min-width: 769px) { .slider .slide-img { width: 37.1875vw; } }
.slider .slide-img .img-a-img::before { padding-top: 100%; }
.slider .slide-content { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 28px 20px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #fff; width: 100%; z-index: 1; }
@media only screen and (min-width: 769px) { .slider .slide-content { margin-left: -2.0833333333vw; padding: 5.2083333333vw 2.0833333333vw; width: 31.25vw; } }
.slider .slide-content__name { color: #141820; font-size: calc( 20px + 10 * ((100vw - 375px) / 1065) ); font-family: "Montserrat", sans-serif; font-weight: 700; line-height: calc( 24.38px + 12.19 * ((100vw - 375px) / 1065) ); text-transform: uppercase; letter-spacing: 0.04em; }
@media only screen and (min-width: 1440px) { .slider .slide-content__name { font-size: 30px; line-height: 36.57px; } }
@media only screen and (min-width: 769px) { .slider .slide-content__name { margin-bottom: 1.0416666667vw; } }
.slider .slide-content__info, .slider .slide-content__bio { color: #141820; font-size: calc( 12px + 2 * ((100vw - 375px) / 1065) ); font-family: "Montserrat", sans-serif; font-weight: 600; line-height: calc( 18px + 5.5 * ((100vw - 375px) / 1065) ); }
@media only screen and (min-width: 1440px) { .slider .slide-content__info, .slider .slide-content__bio { font-size: 14px; line-height: 23.5px; } }
.slider .slide-content__bio { display: none; }
@media only screen and (min-width: 769px) { .slider .slide-content__bio { display: block; margin-bottom: 1.875vw; } }
.slider .slide-content hr { margin: 20px 0; width: 34px; border-color: #CEAF87; }
@media only screen and (min-width: 769px) { .slider .slide-content hr { margin: 0.625vw 0 0.9895833333vw; width: 3.125vw; } }
.slider .slide-content__testimonial { margin-top: auto; color: #141820; font-size: calc( 18px + 4 * ((100vw - 375px) / 1065) ); font-family: "meno-text", sans-serif; font-weight: 600; line-height: calc( 25px + 10.29 * ((100vw - 375px) / 1065) ); letter-spacing: 0.01em; }
@media only screen and (min-width: 1440px) { .slider .slide-content__testimonial { font-size: 22px; line-height: 35.29px; } }

@media only screen and (min-width: 769px) { .content-module { padding-bottom: 14.84375vw; } }
.content-module .section-title { margin-bottom: 68px; }
@media only screen and (min-width: 769px) { .content-module .section-title { margin-bottom: 9.7395833333vw; } }
@media only screen and (min-width: 769px) { .content-module__content { margin: 0 auto; max-width: 45.3125vw; } }
.content-module__content p { color: #141820; font-size: calc( 46px + 15 * ((100vw - 375px) / 1065) ); font-family: "meno-banner", sans-serif; font-weight: 400; line-height: calc( 600 + "meno-banner", sans-serif-600/1px * ((100vw - 375px) / 1065) ); font: 400 30px/1.5 "meno-text", sans-serif; }
@media only screen and (min-width: 1440px) { .content-module__content p { font-size: 61px; line-height: "meno-banner", sans-serif; } }
@media only screen and (min-width: 769px) { .content-module__content p { font: 600 33.57px/44.51px "meno-banner", sans-serif; text-align: center; } }
@media only screen and (min-width: 1440px) { .content-module__content p { font-size: 46px; line-height: 61px; } }
@media only screen and (min-width: 769px) { .content-module__content p i { font-weight: 700; } }

.media-content { padding-bottom: 15px; }
@media only screen and (min-width: 769px) { .media-content { padding-bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100vh; } }
@media only screen and (min-width: 769px) { .media-content .col { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; height: 100vh; } }
.media-content__image { padding: 80px 0; text-align: center; }
@media only screen and (min-width: 769px) { .media-content__image { padding: 8.8541666667vw 0; } }
.media-content--right .media-content__image { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
.media-content__image img { margin: 0 auto; height: 400px; }
@media only screen and (min-width: 769px) { .media-content__image img { height: 100%; } }
.media-content__content { margin: 0 15px; padding: 40px 10px 20px; }
@media only screen and (min-width: 769px) { .media-content__content { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
.media-content__content--inner { text-align: center; }
@media only screen and (min-width: 769px) { .media-content__content--inner { max-width: 29.1666666667vw; } }
.media-content__number { display: inline-block; color: #141820; font-size: calc( 25.79px + 20.47 * ((100vw - 375px) / 1065) ); font-family: "meno-banner", sans-serif; font-weight: 700; line-height: calc( 30.95px + 24.56 * ((100vw - 375px) / 1065) ); border-bottom: 1px solid #141820; }
@media only screen and (min-width: 1440px) { .media-content__number { font-size: 46.26px; line-height: 55.51px; } }
.media-content__heading { margin-bottom: 6px; color: #141820; font-size: calc( 50px + 42.52 * ((100vw - 375px) / 1065) ); font-family: "meno-banner", sans-serif; font-weight: 700; line-height: calc( 60px + 51.02 * ((100vw - 375px) / 1065) ); }
@media only screen and (min-width: 1440px) { .media-content__heading { font-size: 92.52px; line-height: 111.02px; } }
@media only screen and (min-width: 769px) { .media-content__heading { margin-bottom: 12px; } }
.media-content__desc { color: #141820; font-size: calc( 22px + 18 * ((100vw - 375px) / 1065) ); font-family: "meno-banner", sans-serif; font-weight: 700; line-height: calc( 31.15px + 22.85 * ((100vw - 375px) / 1065) ); }
@media only screen and (min-width: 1440px) { .media-content__desc { font-size: 40px; line-height: 54px; } }

.text-primary { color: #141820; }

.bg-primary { background-color: #141820; }

.text-secondary { color: #fff; }

.bg-secondary { background-color: #fff; }

.v-hidden { visibility: hidden; opacity: 0; }

.container { margin: auto; padding: 0 20px; }
@media only screen and (min-width: 769px) { .container { max-width: 77.6041666667vw; } }

.container-fluid { margin: auto; padding: 0 20px; width: 100%; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); z-index: 1500; cursor: pointer; }

.wpcf7 .ajax-loader { display: none; }

.section { padding: 90px 0; }
@media only screen and (min-width: 769px) { .section { padding: 2.6041666667vw 0 10.4166666667vw; } }
.section-title { color: #141820; font-size: calc( 16px + 2 * ((100vw - 375px) / 1065) ); font-family: "Montserrat", sans-serif; font-weight: 600; line-height: calc( 19.5px + 2.44 * ((100vw - 375px) / 1065) ); text-transform: uppercase; letter-spacing: 0.1em; }
@media only screen and (min-width: 1440px) { .section-title { font-size: 18px; line-height: 21.94px; } }

/*# sourceMappingURL=style.css.map */